<template>
  <div>
   <h1>{{title}} </h1>
   <p>{{greeting() }} </p>
   <ninjas> </ninjas>
   <app-header v-bind:titlee="titlee" v-on:changeTitle="updateTitle($events)"></app-header>
   <app-ninjas v-bind:ninjas='ninjas'></app-ninjas>
   <app-footer v-bind:titlee="titlee"></app-footer>
   <form-helper>
     <h2 slot="title">{{title1}} </h2>
     <p slot="text">I am the paragragh text of a slot</p>
       <div slot="form-header">
         <h3>Thi sis the title of the form</h3>
         <p>Information about the form</p>
         </div>
        <div slot="form-fields">
         <input type="text" placeholder="name" required/>
         <input type="password" placeholder="password" required/>
        </div>
         <div slot="form-controls">
         <button v-on:click="handleSubmit">Submit</button>
         </div>
   </form-helper>



  <keep-alive><component v-bind:is="component"></component></keep-alive>
   <button v-on:click="component='form-one'">Show form one</button>
   <button v-on:click="component='form-two'">Show form two</button>
  <add-blog></add-blog>
  </div>
</template>
// props help to pass data from parent component to other component
<script>
import Ninjas from './ninja.vue'
import Header from './components/header.vue';
import Footer from './components/Footer.vue';
import Ninjass from './components/Ninjas.vue';
import formHelper from './components/formHelper.vue';
import formOne from './components/formOne.vue';
import formTwo from './components/formTwo.vue';
import addBlog from './components/addBlog.vue';


export default {
components:{
    'ninjas': Ninjas,
    'app-header':Header,
    'app-footer': Footer,
    'app-ninjas': Ninjass,
    'form-helper':formHelper,
    'form-one':formOne,
    'form-two':formTwo,
    'add-blog':addBlog
},
data () {
    return {
     title: 'My first Vue js file yesss',

     ninjas:[
        {name:'Ryu',speciality:'Vue Components',show:false},
        {name:'Crystal',speciality:'HTML Wizardry',show:false},
        {name:'Hitoshi',speciality:'Click Events',show:false},
        {name:'Tango',speciality:'Conditionals',show:false},
        {name:'Kami',speciality:'Webpack',show:false},
        {name:'Yoshi',speciality:'Data Deggin',show:false}
      ],

      titlee: "Vue Ninjas",
      title1:'I am a dynamic slot title',
      component:'form-two'
    }
  },
  methods:{
    greeting:function(){
    return 'hey olivian'
    },
    updateTitle: function(){
      this.titlee = updateTitle;
    }
  },
  swtichOne:function(name){
    this.component=name;
  }
}
</script>

<style>
body{
  margin: 0;
  font-family: 'Nunito semiBold';
}
h1{
  color: brown;
}
</style>
