<template>
  <div>
    <h1> i'm called olivian</h1>
  <ul>
    <li v-for="ninja in ninjas">{{ninja}} </li>
  </ul>
  </div>
</template>

<script>
export default {
  data () {
    return {
    ninjas:['Yoshi','Mario','livia' ]
    }
  }
}
</script>

<style scoped>
h1{
  color: aqua;
}
</style>
