<template>
<footer>
  <p>{{copyright}} </p>
  <p>{{copyrightt}} {{titlee}} </p>
</footer>
</template>

<script>
import {bus} from '../main';
export default {
  props:{
    title:{
      type:String
    }
  },
  data () {
    return {
     copyright:'Copyright 2019 Vue Ninjas',
     copyrightt:'Copyright 2019'
    }
  }
}
</script>

<style scoped>
footer{
  background: #222;
  padding: 6px;
}
p{
  color: lightgreen;
  text-align: center;
}
</style>
