<template>
  <div>
    <slot name="title"></slot>
    <h1> I am the helper</h1>
    <slot name="text"></slot>
    <h2>Please fil out our form</h2>
    <form>
      <div id="form-header">
        <slot name="form-header"></slot>
      </div>
      <div id="form-fields">
        <slot name="form-fields"></slot>
      </div>
      <div id="form-controls">
        <slot name="form-controls"></slot>
      </div>
      <div id="useful-links">
        <ul>
          <li><a href="#">link1</a></li>
          <li><a href="#">link2</a></li>
          <li><a href="#">link3</a></li>
          <li><a href="#">link4</a></li>
        </ul>
      </div>
    </form>
  </div>
</template>

<script>

export default {
  components:{

  },
  data () {
    return {

    }
  },
  methods:{
  }
}
</script>

<style scoped>
h1{
  color: brown;
  text-align: center;
}
form{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
#useful-links ul{
   padding: 0;
}
#useful-links li{
  display: inline-block;
  margin-right: 10px;
}
form > div{
  page-break-after: 20px;
  background: #eee;
  margin: 20px 0;
}
#form-header{
  background: #ddd;
  border: 1px solid #bbb;
}
</style>
