<template>
  <header>
    <h1>{{title}} </h1>
    <h1 v-on:click="changeTitle">{{titlee}} </h1>
  </header>
</template>

<script>
import {bus} from '../main';

export default {
  props:{
    titlee:{
      type:String
    }
  },
  data () {
    return {
      title:'Vue Ninjas'
    }
  },
  methods:{
    changeTitle:function(){
      // this.$emit('changeTitle'.'Vue Wizards');
      this.title = 'Vue Wizards';
      bus.$emit('titleChanged','Vue Wizards');
    }
  },
  created(){
    bus.$on('titleChanged', (data) =>{
      this.title = data;
    })
  }
}
</script>

<style scoped>
/* scoped means to mapply only to a particular vue page */
header{
background: lightgreen;
padding: 10px;
}
h1{
  color: #222;
  text-align: center;
}
</style>
